<!-- START Top Navbar-->
<nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
<!-- START navbar header-->
<div class="navbar-header">
    <a href="#" class="navbar-brand">
        <div class="brand-logo">Controle Residencial</div>
        <div class="brand-logo-collapsed">CR</div>
    </a>
</div>
<!-- END navbar header-->
<div class="nav-wrapper">
    <ul class="nav navbar-nav">
        <li>
            <a href="#" data-toggle="aside">
                <em class="fa fa-align-left"></em>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <!-- START User menu-->
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" data-play="bounceIn" class="dropdown-toggle">
                <em class="fa fa-user"></em>
            </a>
            <!-- START Dropdown menu-->
            <ul class="dropdown-menu">
                <li><a href="{{ path("logout_app") }}">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</nav>