<div id="header">
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="dashboard.html">Controle Residencial</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon16 icomoon-icon-arrow-4"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-right usernav">
            <li><a href="system/logout"><span class="icon16 icomoon-icon-exit"></span><span class="txt"> Sair</span></a></li>
        </ul>
    </div><!-- /.nav-collapse -->
</nav><!-- /navbar -->

</div><!-- End #header -->