<!-- START aside-->
<aside class="aside">
<!-- START Sidebar (left)-->
<nav class="sidebar">
<ul class="nav">
<!-- START Menu-->
    <li id="dashboard" class="active">
        <a href="#/" title="Dashboard" data-toggle="collapse-next">
            <em class="fa fa-dashboard"></em>
            <span class="item-text">Dashboard</span>
        </a>
    </li>
    <li id="iluminacao">
        <a href="#/iluminacao" title="Forms" data-toggle="collapse-next">
            <em class="fa fa-lightbulb-o"></em>
            <span class="item-text">Iluminação</span>
        </a>
    </li>
</ul>
</nav>
<!-- END Sidebar (left)-->
</aside>
<!-- End aside-->