<section class="main-content">
    <h3>Iluminação
        <br>
        <small>Controle a iluminação da sua residencia.</small>
    </h3>
    <div class="row">
        <div class="col-lg-6">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">Controle Manual</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row" ng-repeat="iluminacao in iluminacaoList" style="margin-bottom: 10px">
                            <div class="col-lg-12">
                                <label class="col-sm-6 control-label">{{ iluminacao.nome }}</label>
                                <div class="col-sm-6">
                                    <button ng-if="iluminacao.status" type="button" class="btn btn-success col-xs-12 col-sm-6 col-md-6" ng-click="changeIluminacao(iluminacao)">Ligar</button>
                                    <button ng-if="!iluminacao.status" type="button" class="btn btn-danger col-xs-12 col-sm-6 col-md-6" ng-click="changeIluminacao(iluminacao)">Desligar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- END panel-->
            <div class="panel panel-info">
                <div class="panel-heading portlet-handler">Perfis de iluminação</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row" ng-repeat="perfilIluminacao in perfilIluminacaoList" style="margin-bottom: 10px">
                            <div class="col-lg-12">
                                <label class="col-sm-6 control-label">{{ perfilIluminacao.nome }}</label>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-success col-xs-12 col-sm-6 col-md-6" ng-click="changeIluminacao(perfilIluminacao)">Usar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary btn-sm">Adicionar novo perfil</button>
                </div>
            </div>
        </div>
    </div>
</section>