<section class="main-content">
    <h3>Perfis de Iluminação
        <br>
        <small>Adicionar Novo Perfil</small>
    </h3>
    <div class="panel panel-default">
        <div class="panel-heading">Perfil</div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label>Nome do perfil</label>
                    <input name="nome" type="text" class="form-control">
                </div>
                <fieldset>
                    <legend>Lampadas</legend>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lampada 1</label>
                            <div class="col-sm-10">
                                <label class="radio-inline c-radio">
                                    <input id="inlineradio1" type="radio" name="lampada1" value="option1" checked="">
                                    <span class="fa fa-circle"></span>Ligar</label>
                                <label class="radio-inline c-radio">
                                    <input id="inlineradio2" type="radio" name="lampada1" value="option2">
                                    <span class="fa fa-circle"></span>Desligar</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lampada 2</label>
                            <div class="col-sm-10">
                                <label class="radio-inline c-radio">
                                    <input id="inlineradio1" type="radio" name="lampada2" value="option1" checked="">
                                    <span class="fa fa-circle"></span>Ligar</label>
                                <label class="radio-inline c-radio">
                                    <input id="inlineradio2" type="radio" name="lampada2" value="option2">
                                    <span class="fa fa-circle"></span>Desligar</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lampada 3</label>
                            <div class="col-sm-10">
                                <label class="radio-inline c-radio">
                                    <input id="inlineradio1" type="radio" name="lampada3" value="option1" checked="">
                                    <span class="fa fa-circle"></span>Ligar</label>
                                <label class="radio-inline c-radio">
                                    <input id="inlineradio2" type="radio" name="lampada3" value="option2">
                                    <span class="fa fa-circle"></span>Desligar</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lampada 4</label>
                            <div class="col-sm-10">
                                <label class="radio-inline c-radio">
                                    <input id="inlineradio1" type="radio" name="lampada4" value="option1" checked="">
                                    <span class="fa fa-circle"></span>Ligar</label>
                                <label class="radio-inline c-radio">
                                    <input id="inlineradio2" type="radio" name="lampada4" value="option2">
                                    <span class="fa fa-circle"></span>Desligar</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-sm btn-default">Salvar</button>
            </form>
        </div>
    </div>
</section>