<div ng-switch on="currentState">
    <div ng-switch-when="iluminacao.controle">
        <div ng-include="'bundles/appcontrole/templates/iluminacao/controle.html'"></div>
    </div>
    <div ng-switch-when="iluminacao.perfis">
        <div ng-include="'bundles/appcontrole/templates/iluminacao/perfis.html'"></div>
    </div>
    <div ng-switch-when="iluminacao.perfis.new">
        <div ng-include="'bundles/appcontrole/templates/iluminacao/perfisNew.html'"></div>
    </div>
    <div ng-switch-when="iluminacao.rotinas">
        <div ng-include="'bundles/appcontrole/templates/iluminacao/rotinas.html'"></div>
    </div>
    <div ng-switch-default>
        <div ng-include="'bundles/appcontrole/templates/iluminacao/controle.html'"></div>
    </div>
</div>