<section class="main-content">
    <h3>Dashboard
        <br>
        <small>Seja bem vindo ao controle residencial.</small>
    </h3>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <!-- START widget-->
            <div data-toggle="play-animation" data-play="fadeInDown" data-offset="0" data-delay="100" class="panel widget anim-running anim-done" style="">
                <div class="panel-body bg-primary">
                    <div class="row row-table row-flush">
                        <div class="col-xs-8">
                            <p class="mb0">Temperatura Interna</p>
                            <h3 class="m0">22º</h3>
                        </div>
                        <div class="col-xs-4 text-center">
                            <em class="fa fa-sun-o fa-2x"><sup class="fa fa-sun-o"></sup>
                            </em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div data-toggle="play-animation" data-play="fadeInDown" data-offset="0" data-delay="500" class="panel widget anim-running anim-done" style="">
                <div class="panel-body bg-warning">
                    <div class="row row-table row-flush">
                        <div class="col-xs-8">
                            <p class="mb0">Temperatura Externa</p>
                            <h3 class="m0">35º</h3>
                        </div>
                        <div class="col-xs-4 text-center">
                            <em class="fa fa-sun-o fa-2x"><sup class="fa fa-sun-o"></sup>
                            </em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>