<section class="main-content">
    <h3>Portões e Cortinas
        <br>
        <small>Controle os portões e cortinas de sua residencia.</small>
    </h3>
    <div class="row">
        <div class="col-lg-12">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">Portões</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-lg-12">
                                <label class="col-sm-8 control-label">Portão da garagem</label>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-success col-xs-12 col-sm-6 col-md-6">Abrir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">Cortinas</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-lg-12">
                                <label class="col-sm-8 control-label">Quarto Suite</label>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-success col-xs-12 col-sm-6 col-md-6">Abrir</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-lg-12">
                                <label class="col-sm-8 control-label">Quarto Visita</label>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-success col-xs-12 col-sm-6 col-md-6">Abrir</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-lg-12">
                                <label class="col-sm-8 control-label">Sala</label>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-success col-xs-12 col-sm-6 col-md-6">Abrir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>