<!-- START aside-->
<aside class="aside">
<!-- START Sidebar (left)-->
<nav class="sidebar">
<ul class="nav">
<!-- START Menu-->
    <li id="dashboard" class="active">
        <a href="#/" title="Dashboard" data-toggle="collapse-next">
            <em class="fa fa-dashboard"></em>
            <span class="item-text">Dashboard</span>
        </a>
    </li>
    <li id="iluminacao">
        <a href="javascript:void(0);" title="Forms" data-toggle="collapse-next" class="has-submenu">
            <em class="fa fa-lightbulb-o"></em>
            <span class="item-text">Iluminação</span>
        </a>
        <ul class="nav collapse" style="height: 0px;">
            <li id="iluminacao-controle">
                <a href="#/iluminacao/controle" title="Controle" data-toggle="" class="no-submenu">
                    <span class="item-text">Controle</span>
                </a>
            </li>
            <li id="iluminacao-perfis">
                <a href="#/iluminacao/perfis"  title="Perfis" data-toggle="" class="no-submenu">
                    <span class="item-text">Perfis</span>
                </a>
            </li>
            <li id="iluminacao-rotinas">
                <a href="#/iluminacao/rotinas" title="Rotinas" data-toggle="" class="no-submenu">
                    <span class="item-text">Rotinas</span>
                </a>
            </li>
        </ul>

    </li>
    <li class="nav-footer">
        <div class="nav-footer-divider"></div>
        <!-- START button group-->
        <div class="btn-group text-center">
            <button type="button" data-toggle="tooltip" data-title="Configuração" class="btn btn-link" data-original-title="" title="">
                <em class="fa fa-cog text-muted"></em>
            </button>
            <a type="button" data-toggle="tooltip" data-title="Sair" class="btn btn-link" data-original-title="" title="" href="{{ path("logout_app") }}">
                <em class="fa fa-sign-out text-muted"></em>
            </a>
        </div>
        <!-- END button group-->
    </li>
</ul>
</nav>
<!-- END Sidebar (left)-->
</aside>
<!-- End aside-->