{% extends '::base.html.twig' %}

{% block header %}
    {% include 'APICoreBundle:Default:header.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {% include 'APICoreBundle:Default:styles.html.twig' %}
{% endblock %}

{% block content %}

    {% include 'APICoreBundle:Default:sidebar.html.twig' %}

    <section>
        <!-- START Page content-->
        <section class="main-content">
            {% include content~'index.html.twig' %}
        </section>
        <!-- END Page content-->
    </section>
{% endblock %}

{% block javascripts %}
    {% include 'APICoreBundle:Default:scripts.html.twig' %}
    {% include content~'scripts.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'APICoreBundle:Default:footer.html.twig' %}
{% endblock %}