<section class="main-content">
    <h3>Configurações
        <br>
        <small>Configurações de sua aplicação</small>
    </h3>
    <div class="well">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">API</a>
            </li>
            <li class=""><a href="#profile" data-toggle="tab">Usuários</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade active in">
                <h4>Configurações da API</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Endereço</label>
                            <input name="nome" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>ID</label>
                            <input name="nome" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Token</label>
                            <input name="nome" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <button ui-sref="iluminacao.perfis.new" type="button" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div id="profile" class="tab-pane fade">
                <div ng-if="currentStateUser == 'list'">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-3" style="margin-bottom: 5px">
                                <button ng-click="changeToNewUser()" type="button" class="btn btn-primary">Adicionar Novo</button>
                            </div>
                        </div>
                    </div>
                    <h4>Lista de Usuários</h4>
                    <div class="row">
                        <div style="height: 335px; border: 1px solid rgb(212,212,212);" ng-grid="gridOptions" ></div>
                    </div>
                    <br>
                </div>
                <div ng-if="currentStateUser == 'new'">
                    <h4>Novo Usuário</h4>
                    <div class="row">
                        <form role="form">
                            <div class="row" style="margin-left: 2px">
                                <div class="form-group col-sm-4">
                                    <label>Nome</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Sobrenome</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row" style="margin-left: 2px">
                                <div class="form-group col-sm-4">
                                    <label>Login</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Senha</label>
                                    <input type="password" name="password" class="form-control">
                                </div>
                            </div>
                            <div class="row" style="margin-left: 12px">
                                <button ng-click="changeToNewUser()" type="button" class="btn btn-primary">Salvar</button>
                                <button ng-click="changeToListUser()" type="button" class="btn btn-default">Cancelar</button>
                            </div>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>