<div class="modal-header">
    <h3 class="modal-title">_[[Desativar Data Center]]</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                <span style="font-weight: bold; font-size: 13px" >_[[Os seguintes blocos e atividades serão impactados pela desativação do Data Center]]:</span>
            </div>
        </div>
        </br>
        <div style="width: 100%; border-bottom: 1px solid #CACACA; border-top: 1px solid #CACACA">
            <div class="row">
                <div class="col-xs-12" style="font-weight: bold;">
                   _[[Atividades]]
                </div>
            </div>

            <div class="row" ng-repeat="atividade in atividadeValida track by $index" style=" margin: 0;">
                <div class="col-xs-12">
                    <i class="fa fa-angle-right"></i> {{ atividade }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" title="Atenção: Os blocos, atividades e equipamentos serão impactados pela desativação do Data Center." ng-click="desativarTudo()">_[[Desativar Tudo]]</button>
    <button class="btn btn-success" title="Atenção: Ao desativar o Data Center, automaticamente todos os seus equipamentos serão desativos." ng-click="desativarDataCenter()">_[[Desativar Data Center]]</button>
    <button class="btn" ng-click="cancel()">_[[Cancelar]]</button>
</div>

<!--
var bla = $("<a href='admin#/atividade/detalheData/58' rel='EQ#58'></a> asdsad <a href='admin#/atividade/detalheData/58' rel='EQ#58'></a> ASDFSADSA <a href='admin#/atividade/detalheData/58' rel='DC#58'></a> SADOFKSAPKD");
$.each(bla, function(x, each) { if( $(each).is("a") ) { array.push($(each).attr("rel") ) } else { array.push($(each).text()); } })
array.join(" ");
array = [];
-->